body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  font-size: large;
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

header {
  font-weight: bold;
}

section {
  border: 1ch solid black;
  padding: 10ch;
}